:root {
  --lg-space: 15%;
  --md-space: 5%;
  --sm-space: 50px;
  --xs-space: 10px;
}
* {
  box-sizing: border-box;
}

body,
p,
h1,
h2,
figure {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

main {
  background-color: lightseagreen;
}

header,
main > section,
footer {
  padding: var(--sm-space) var(--lg-space);
  align-items: center;
}

header figure {
  flex: 1;
  position: relative;
}

header figure img {
  width: 100%;
}

header figcaption {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 100%;
  bottom: 0;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

header section {
  flex: 1;
  background-color: white;
  flex-direction: column;
  padding: var(--md-space);
}

header .icon-group {
  gap: var(--xs-space);
  justify-content: end;
}

header p {
  text-align: justify;
  font-size: 1.5rem;
}

main > section {
  background-color: white;
}
.projects {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--sm-space);
}

.card {
  flex-direction: column;
  box-shadow: lightgray 0px 5px 10px 1px;
}
.card-thmb {
  background-color: gray;
  min-height: 250px;
}

.card-detail {
  background-color: white;
  padding: var(--xs-space);
  min-height: 200px;
}

.card-detail .icon-group {
  flex: 1;
  gap: var(--xs-space);
  justify-content: end;
}

footer {
  background-color: lightseagreen;
  color: white;
}

footer section {
  flex-direction: column;
  gap: var(--xs-space);
}

footer .contact {
  flex-direction: column;
}

.contact div {
  align-items: center;
  gap: var(--xs-space);
}

footer .icon-group {
  gap: var(--xs-space);
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }
}
